USE [finalproject]
GO
/****** Object:  Table [dbo].[tbl_application]    Script Date: 05-08-2025 15:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_application](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jid] [int] NULL,
	[name] [varchar](200) NOT NULL,
	[mobno] [bigint] NOT NULL,
	[emailid] [varchar](200) NOT NULL,
	[address] [varchar](200) NULL,
	[qualification] [varchar](200) NULL,
	[exp] [varchar](200) NULL,
	[salary] [int] NULL,
	[gender] [varchar](200) NULL,
	[resume] [varchar](200) NULL,
	[picture] [varchar](200) NULL,
	[regdate] [datetime] NULL,
	[status] [varchar](200) NULL,
	[ishired] [bit] NULL,
	[isrejected] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_attendence]    Script Date: 05-08-2025 15:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_attendence](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empid] [varchar](200) NULL,
	[adate] [date] NULL,
	[atime] [time](7) NULL,
	[addedon] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_emplogin]    Script Date: 05-08-2025 15:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_emplogin](
	[email] [varchar](200) NOT NULL,
	[password] [varchar](100) NULL,
	[appid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_enquiry]    Script Date: 05-08-2025 15:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_enquiry](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[mobile] [bigint] NOT NULL,
	[email] [varchar](200) NULL,
	[message] [text] NULL,
	[enqdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_leave]    Script Date: 05-08-2025 15:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_leave](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empid] [varchar](200) NULL,
	[title] [varchar](250) NULL,
	[detail] [text] NULL,
	[fromdate] [date] NULL,
	[todate] [date] NULL,
	[appliedon] [datetime] NULL,
	[totaldays] [int] NULL,
	[isaccepted] [bit] NULL,
	[attachfile] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_opening]    Script Date: 05-08-2025 15:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_opening](
	[id] [int] IDENTITY(101,1) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[detail] [varchar](250) NULL,
	[jobtype] [varchar](100) NULL,
	[city] [varchar](100) NULL,
	[minslary] [int] NULL,
	[maxsalary] [int] NULL,
	[gender] [varchar](50) NULL,
	[shift] [varchar](100) NULL,
	[exp] [varchar](200) NULL,
	[education] [varchar](200) NULL,
	[vacancy] [varchar](200) NULL,
	[lastdate] [date] NULL,
	[startdate] [date] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_application]  WITH CHECK ADD FOREIGN KEY([jid])
REFERENCES [dbo].[tbl_opening] ([id])
GO
ALTER TABLE [dbo].[tbl_attendence]  WITH CHECK ADD FOREIGN KEY([empid])
REFERENCES [dbo].[tbl_emplogin] ([email])
GO
ALTER TABLE [dbo].[tbl_leave]  WITH CHECK ADD FOREIGN KEY([empid])
REFERENCES [dbo].[tbl_emplogin] ([email])
GO
